header, aside, nav, main, footer {
  border: 5px solid;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

aside {
  border: none;
  padding: 0;
}

nav {
  border-color: #e74c3c;
  float: left;
  width: 150px;
  height: 300px;
}

main {
  border-color: #f1c40f;
  margin-left: 150px;
  height: 300px;
  padding-right: 160px;
}

footer {
  border-color: #9b59b6;

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
  }

  span {
    display: none;
  }

  i {
    font-size: 20px;
    margin: 5px;
  }
}
