header, aside, nav, main, footer {
  border: 5px solid;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

// Aside 
aside {
  border: none;
  padding: 0;
}

nav {
  border-color: #e74c3c;
  float: left;
  width: 150px;
  height: 300px;
}

nav ul ul {
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

nav ul li {
  position: relative;
  margin-bottom: 10px;
}

nav ul ul li {
  position: absolute;
}

main {
  border-color: #f1c40f;
  margin-left: 150px;
  height: 300px;
  padding-right: 160px;
}

// Footer
footer {
  border-color: #9b59b6;

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
  }

  a {
    text-decoration: none;
  }

  span {
    color: white;
  }

  i {
    font-size: 20px;
    margin: 2px;
  }

  .fa-facebook{
    color: blue;
  }

  .fa-youtube, .fa-google-plus {
    color: red;
  }
}
